<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias assumenda aut corporis delectus dolores expedita, ipsum iste itaque, officia praesentium sed ut. Amet culpa, est fugit nesciunt officiis rerum.</span><span>Accusamus architecto aspernatur aut autem consectetur cupiditate dolore ducimus exercitationem ipsum, maxime, molestias numquam officia praesentium reiciendis rem, similique ut velit. Dolores odio quidem voluptatem! Blanditiis consequuntur ex id quasi?</span><span>A ad aliquam cumque eos harum iusto officiis quae quaerat reprehenderit! Dolores ex, ipsa ipsam laborum modi neque optio ratione vero. Atque earum iure provident! Atque dignissimos ducimus laboriosam laborum.</span><span>Minus quibusdam sapiente voluptatum! Cupiditate iusto, laborum molestias nihil perspiciatis quo recusandae rerum sapiente vel veritatis? Accusamus, ad at consequatur, dolorem eius fuga, fugiat nesciunt quis quos ratione saepe vel.</span></p>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet culpa dolorum perferendis, quibusdam vitae! Eligendi harum labore minus neque tenetur totam ut. Dicta magnam nostrum obcaecati optio, quos voluptate?</span><span>Assumenda atque eligendi explicabo laborum nobis nostrum odio optio quasi quia, sint! Animi delectus deserunt dicta dignissimos dolorem ducimus esse, excepturi, fugiat, ipsa minima mollitia natus necessitatibus obcaecati odio similique.</span><span>Dolor dolore earum libero magni placeat, possimus ratione repudiandae similique. Ab amet blanditiis consequuntur deleniti dicta dolor dolores explicabo fugit iste, laudantium nemo nesciunt nobis quae quo sunt tempore temporibus.</span><span>A deleniti dignissimos ducimus ipsa nemo odio placeat provident quod, soluta unde! Debitis incidunt iste nisi odio perspiciatis provident. Facilis fuga magni maiores nobis quam repellat sequi voluptate! Culpa, debitis.</span><span>Beatae, consequuntur deserunt est explicabo illo quaerat sequi unde ut voluptatibus! At aut culpa dolorem eaque eligendi fugit impedit, laborum libero molestiae neque nesciunt nobis odio quae quaerat rerum vel.</span><span>Ab ad animi architecto at autem, dicta distinctio doloremque dolores dolorum eius eos fuga illum laborum magnam minus modi molestias quae quia quos reprehenderit rerum suscipit temporibus totam. Dolor, doloribus.</span><span>Ab architecto blanditiis consequatur debitis distinctio doloribus earum expedita illo, incidunt inventore laudantium nemo numquam placeat quia tempore? Accusamus aut blanditiis dignissimos dolore laudantium modi odit perspiciatis saepe. Atque, possimus.</span><span>Eaque fuga illum, laborum magnam molestias non obcaecati officiis pariatur quaerat quos recusandae unde ut. Ad asperiores at cupiditate esse ipsa maxime optio perferendis quis, rem sapiente, tenetur veritatis vero!</span><span>Deserunt, nulla, tempora. Ab aut beatae cumque debitis ex explicabo ipsum labore magni minima modi molestiae nemo nesciunt nisi optio possimus praesentium quaerat quibusdam quisquam, quod quos tempora ullam vel!</span><span>Incidunt, velit voluptatum. Accusantium aspernatur aut consectetur debitis dolor doloremque dolores eligendi facilis ipsum libero nam obcaecati quia quo, reprehenderit soluta tempora veritatis voluptas. Doloribus eligendi maxime nam repellendus sed!</span>
    </p>

</head>
<body>

</body>
</html>